<ion-header>
  <ion-navbar color="header">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #7c4dff;">
  <ion-card color="cardsHome" *ngFor="let notf of homeScreenNotf">
      <ion-card-header>
         {{notf.title}}
      </ion-card-header>
      <ion-card-content>
        {{notf.body}}
        <br><br>
        <h4>{{notf.date}}</h4>
      </ion-card-content>
    </ion-card>
</ion-content>

<!--

    <ion-content>
          <ion-item-group color="header">
            <ion-item-divider color="light">{{CafeName}}</ion-item-divider>
            <ion-item *ngFor="let food of foodItems">{{ food.title }}<span><p text-right>Rs. {{ food.price }}</p></span></ion-item>
          </ion-item-group>
  </ion-content>


  <ion-card color="cardsHome">
      <ion-card-header>
         Student Life
      </ion-card-header>
      <ion-card-content>
        A new event comming up on tuesday.  A new event comming up on tuesday.  A new event comming up on tuesday.  A new event comming up on tuesday.  A new event comming up on tuesday.  A new event comming up on tuesday.  A new event comming up on tuesday.
        <br><br>
        <h4>21st August 2018</h4>
      </ion-card-content>
    </ion-card>
-->