<ion-header>
  <ion-navbar color="header">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #7c4dff;">
  <ion-card color="cardsHome" *ngFor="let notf of homeScreenNotf">
      <ion-card-header>
         {{notf.title}}
      </ion-card-header>
      <ion-card-content>
        {{notf.body}}
        <br><br>
        <h4>{{notf.date}}</h4>
        <button *ngIf=" notf.type == 'T_LV'" ion-button>Signup For Late Van</button>
      </ion-card-content>
    </ion-card>
</ion-content>

